/* Styles for Addride component */

/* General Styles */
.add-ride-container {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  margin-left: 25vh;
}

.header-image-container {
  position: relative;
  width: 100%;
  display: flex;
}

.header-image-1 {
  width: 80%;
  height: 60vh;
  margin-left: 8vw;
}

.header-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(161, 12, 12);
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-container-add {
  max-width: 70vw;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin: 20px auto;
}

.add-ride-title {
  text-align: center;
  margin-bottom: 20px;
}

.add-ride-form {
  display: flex;
  flex-direction: column;
}

.form-row-add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group-add {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.label-add {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.textarea-add {
  height: 100px;
}

.add-input-cheack[type="checkbox"] {
  margin-left: 10px;
}

.add-ride-button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.add-ride-button-2 {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 95px;
}

.add-ride-button:hover {
  background-color: #218838;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 1245px) {
  .add-ride-button{
    width: 100px;
  }
}
@media (max-width: 1120px) {
 
  .header-image-container {
    flex-direction: column;
  }

  .header-image-1 {
    height: 40vh;
  }

  .form-container-add {
    max-width: 90vw;
    padding: 15px;
  }

  .add-ride-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .add-ride-button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }

  .form-row-add {
    flex-direction: column;
  }

  .form-group-add {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .textarea-add {
    height: 80px;
  }
}
@media (max-width: 768px) {
  .add-ride-container {
    margin-left: 15vh;
  }
  .header-image-container {
    flex-direction: column;
  }

  .header-image-1 {
    height: 40vh;
  }

  .form-container-add {
    max-width: 90vw;
    padding: 15px;
  }

  .add-ride-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .add-ride-button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }

  .form-row-add {
    flex-direction: column;
  }

  .form-group-add {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .textarea-add {
    height: 80px;
  }
}

@media (max-width: 480px) {
  .add-ride-container {
    margin-left: 10vh;
  }
  .header-text {
    font-size: 1em;
    padding: 8px;
  }

  .add-ride-title {
    font-size: 1.2rem;
  }

  .add-input, .add-input-cheack {
    font-size: 0.9rem;
    padding: 8px;
  }

  .add-ride-button {
    width: 100%;
    padding: 12px;
    font-size: 0.9rem;
  }
}



.instructions {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
}

.instruction {
  display: flex;
  gap: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.points-instruction {
  margin: 20px;
}

.points-instruction h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.points-instruction p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

.points-instruction .icon {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #2c3e50;
}


.instructions h2{
  text-align: center;
}

.video-instruction {
  margin-bottom: 20px;
  
}

.instruction-list {
  list-style-type: disc;
  padding-left: 20px;
}



.modal-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-add {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.card-preview {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.start-bg
{
height: auto;


}
.addride-container-row2 {
  text-align: center;
  padding: 2rem;
  background-color: #fbfbfb;
}

.headline h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.feature {
  width: 30%;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.feature p {
  font-size: 1rem;
  color: #6c757d;
}

.statistics {
  display: flex;
  justify-content: space-around;
  background-color: #0a3354;
  padding: 1.5rem 0;
}

.stat {
  width: 30%;
}

.stat h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #28a745;
}

.stat p {
  font-size: 1rem;
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .feature {
    width: 100%; 
    margin-bottom: 1.5rem; 
  }

  .statistics {
    flex-direction: column; 
    align-items: center; 
  }

  .stat {
    width: 80%; 
    margin-bottom: 1rem; 
  }
}

@media (max-width: 480px) {
  .headline h1 {
    font-size: 1.8rem; 
  }

  .feature h2 {
    font-size: 1.2rem; 
  }

  .feature p {
    font-size: 0.9rem; 
  }

  .stat h3 {
    font-size: 1rem; 
  }

  .stat p {
    font-size: 0.9rem; 
  }
}

/* Background styling */
.start-bg {
  background: url('../assets/hero.svg') no-repeat center center;
  background-size: cover; /* This will make the background cover the entire div */
  width: 100%; /* Adjust width as needed */
  height: 40vh; /* Adjust height as needed */
}

.instructions {
  padding: 20px;
}

.instruction {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-instruction {
  width: 60%;
  height: auto; 
}

.points-instruction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.points-instruction p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #666;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* Media Query for Small Screens */
@media (max-width: 768px) {

  .instruction {
    flex-direction: column;
    gap: 20px;
  }
  
  .video-instruction {
    width: 100%;
    height: auto;
  }

  .points-instruction {
    gap: 15px;
  }
  
  .points-instruction p {
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media (max-width: 480px) {
  .points-instruction p {
    font-size: 0.8rem;
    flex-direction: column;
    text-align: left;
  }
}


.addride-row-3 {
  padding: 40px;
  background-color: #f9f9f9;
}

.addride-container-row3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1 1 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.column h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #062130;
}

.column p {
  font-size: 1rem;
  color: #666;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icons {
  font-size: 2rem;
  color: #000000e1;
}

/* Responsive styles */
@media (min-width: 768px) {
  .column {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (min-width: 1024px) {
  .column {
    flex: 1 1 calc(33.333% - 20px);
  }
}
.atm-container {
  display: flex;
  gap: 5px;
}

.atm-container img {
  width: 30px;
  object-fit: cover;
}







