.add-ride-container {
    /* max-width: 600px; */
    /* margin: 0 auto; */
    width: 100%;
    margin-left: 320px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 
  }
  
 .add-ride-tittle{
    text-align: center;
    margin-bottom: 20px;
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    background-color: #00F78D;
    padding: 10px;
    border-radius: 10px;
    width: 20rem;
    margin-left: 20rem;
    
  }
  
  .add-ride-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="checkbox"] {
    width: auto;
  }
  
  textarea {
    resize: vertical;
    min-height: 60px;
  }
  
  .add-ride-button {
    padding: 10px 20px;
    background:#00f78d;
    color:black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    
    
  }
  
  .add-ride-button:hover {
    background:#00f78d;
  }
  
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
    
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    position: relative;
  }
  
  .add-ride-card-tittle {
    text-align: center;
    margin-bottom: 20px;
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    background-color: #00F78D;
    padding: 10px;
    border-radius: 10px;
    width: 20rem;
    margin-left: 5rem
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
  }
  
  .close:hover {
    color: #000;
  }

  .add-ride-payment {
     color:red;
     font-size: 18px;

  }
  
  .card-form {
    display: flex;
    flex-direction: column;
  }
  
  .card-form .form-group {
    margin-bottom: 15px;
  }
  
  .card-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .card-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .card-form button {
    padding: 10px 20px;
    background:#00f78d;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card-form button:hover {
    background:#00f78d;
  }
  
  @media (max-width: 600px) {
    .modal-content {
      padding: 10px;
    }
    
    .card-form button {
      width: 100%;
      padding: 15px;
    }
  }
  @media (max-width: 600px) {
    .add-ride-container {
      padding: 10px;
      margin-left: 145px;
      width: 75%;
    }

    h1{
        margin-left: 60px;
        width:20rem;
    }
    
    button {
      width: 100%;
      padding: 15px;
    }
  }