/* Styles for Addride component */
.add-ride-container {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  margin-left: 25vh;
}

.header-image-container {
  position: relative;
  width: 100%;
}

.header-image-1 {
  width: 100%;
  height: 40vh;
}

.header-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(161, 12, 12);
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-container-add {
  max-width: 70vw;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin: 20px auto;
}

.add-ride-title {
  text-align: center;
  margin-bottom: 20px;
}

.add-ride-form {
  display: flex;
  flex-direction: column;
}

.form-row-add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group-add{
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.label-add {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.textarea-add {
  height: 100px;
}

.add-input-cheack[type="checkbox"] {
  margin-left: 10px;
}

.add-ride-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  text-align: center;
  margin-bottom: 20px;
}

.add-ride-button:hover {
  background-color: #218838;
}

.instructions {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.video-instruction {
  margin-bottom: 20px;
}

.instruction-list {
  list-style-type: disc;
  padding-left: 20px;
}



.modal-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-add {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.card-preview {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.start-bg
{
height: auto;


}
.addride-container-row2 {
  text-align: center;
  padding: 2rem;
  background-color: #fbfbfb;
}

.headline h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.feature {
  width: 30%;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.feature p {
  font-size: 1rem;
  color: #6c757d;
}

.statistics {
  display: flex;
  justify-content: space-around;
  background-color: #0a3354;
  padding: 1.5rem 0;
}

.stat {
  width: 30%;
}

.stat h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #28a745;
}

.stat p {
  font-size: 1rem;
  color: #ffffff;
}
/* In your CSS file, e.g., Home.css */
.start-bg {
  background: url('../assets/hero.svg') no-repeat center center;
  background-size: cover; /* This will make the background cover the entire div */
  width: 100%; /* Adjust width as needed */
  height: 40vh; /* Adjust height as needed */
}
.instruction
{
  display: flex;
  gap: 50px;
}
.video-instruction
{
  width: 30vw;
  height: 30vh;
}
.points-instruction{
  
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.instructions h2{
  color: #0a3354;
}

.atm-container {
  display: flex;
  gap: 5px;
}

.atm-container img {
  width: 30px;
  object-fit: cover;
}
.add-ride-payment
{
  color: #f70404;
  font-weight: 600;
}
.modal-title-pay
{
  color: #1c6cae;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 15;
}
.button-group
{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}








