.footer {
    background-color: #343a40;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    height: 250px;
    margin-left: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1500px;
    
    margin-left: 10vw;
   
}


.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px 0;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.footer-section p,
.footer-section a {
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #00C96D;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-socials a {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #00C96D;
}

.footer-bottom {
    margin-top: 30px;
    font-size: 14px;
    color: #ccc;
    border-top: 1px solid #555;
    padding-top: 20px;
}