/* Navbar */
#navbar-container {
  height: 6rem;
  width: 100vw;
  /* max-width: 80rem;  */
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background: white;
}

.nav-menu-item {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.nav-menu-item:hover {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #00f78d;
}

.nav-img {
  width: 200px;
  object-fit: cover;
}
.nav-menu-itemss{
  background: #0a73e3;
  border: none;
  
}
.nav-menu-itemss:hover{
  background: #04376d;
  border: none;
  
}

.nav-button {
  background: #00f78d;
  border: none;
  border-radius: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  font-weight: 700;
}
.nav-button-news{
  background: #00f78d;
  border: none;
  border-radius: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  font-weight: 700;

}

.nav-menu-img {
  display: none;
  width: 80px;
  object-fit: cover;
}

.navmenu {
  position: absolute;
  top: 6rem;
  right: 1rem;
  z-index: 7;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;

}

.list-item {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  text-decoration: none;

}

.header-image {
  width: 100%;
}


/* Responsive Styles */

@media (max-width: 880px) {
  .nav-menu-item {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .nav-menu-img {
    display: flex;
  }

  .header-image {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .nav-img {
    width: 100px;
    object-fit: cover;
  }

  .nav-menu-img {
    width: 40px;
  }

  .header-image {
    width: 100%;
  }
}

/* about */

#about {
  min-height: calc(100vh-6rem);
  width: 100vw;
  max-width: 75rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 4rem;

  padding: 1rem 1rem;
  position: relative;
  /* background: rgb(243, 242, 242); */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


}

.about-tit {
  margin: 1rem 0;
  font-size: 2.0rem; /* Increase the font size for more prominence */
  font-weight: 800;
  text-align: center;
  /* background-color: #00F78D; */
  color: #043054;
  padding: 10px;
  border-radius: 10px;
  max-width: 30%; /* Increase the width to make it more prominent */
  width: 100%; /* Ensure it uses the full width up to max-width */
  margin-left: auto; /* Centering the heading */
  margin-right: auto; /* Centering the heading */
}


.about-text {
  width: 60%;
  font-size: 15px;
  font-weight: 450;
  align-items: center;
  color: rgb(54, 50, 50);


}

.about-text p {
  z-index: 2;
}

.about-img {
  position: absolute;
  top: -0vh;
  z-index: -1;
  right: -1rem;
  object-fit: cover;

}

@media (max-width: 1100px) {
  .about-img {
    right: 0;
    top: 70px;
    object-fit: cover;
    opacity: 0.3;
  }
}

@media (max-width: 850px) {
  .about-text {
    width: 80vw;
  }

  .about-img {
    right: 0;
    object-fit: cover;
    opacity: 0.3;
  }
}

@media (max-width: 517px) {
  .about-text {
    width: 80vw;
    font-size: 12px;
  }

  .about-img {
    width: 100%;
    object-fit: cover;
    top: 20%;
    opacity: 0.3;
  }
}

@media (max-width: 392px) {
  .about-text {
    width: 80vw;
    font-size: 10px;
  }

  .about-img {
    width: 100%;
    object-fit: cover;
    top: 30%;
    opacity: 0.3;
  }
}



/* contact */
/* #contactpage {
  min-height: calc(100vh-6rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgb(243, 242, 242);
  border-radius: 10px;


}

.contact-tittle {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}

.contact-para {
  font-size: 1rem;
  font-weight: 400;


}

.contact-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 6 0rem;
}

.name,
.email,
.message {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 0.5rem;
  background: #fbfbfb;

}

.sub-but {
  background: #00F78D;
  padding: 0.8rem 4rem;
  border: none;
  border-radius: 0.8rem;
  margin: 2rem;
}
.success-message
{
  color: green;
  font-size: medium;
  font-weight: 500;
}
.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  object-fit: cover;
  margin: 0 0.5rem;
  cursor: pointer;
}

.sub-but:hover {
  background-color: #07dc80;
  cursor: pointer;




}

/* Responsive Styles */

/* @media (max-width: 768px) {
  .contact-form {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .contact-form {
    max-width: 90%;
  }
} */ 

/* contact */
/* contact */
#contactpage {
  /* min-height: calc(100vh - 6rem); */
  height: 60vh;
  width: 100vw;
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: white; /* Set background to white */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  */
}

.contact-tittle {
  margin: 1rem 0;
  font-size: 2.0rem; /* Increase the font size for more prominence */
  font-weight: 800;
  text-align: center;
  /* background-color: #00F78D; */
  padding: 10px;
  border-radius: 10px;
  max-width: 20%; /* Increase the width to make it more prominent */
  width: 100%; /* Ensure it uses the full width up to max-width */
  margin-left: auto; /* Centering the heading */
  margin-right: auto; /* Centering the heading */
  color: #043054;


}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  padding: 1rem;
}

.name,
.email,
.message {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 0.5rem;
  background: #fbfbfb;
}

.sub-but {
  background: #043054;
  padding: 0.8rem 4rem;
  color: white;
  border: none;
  border-radius: 0.8rem;
  margin: 2rem 0;
}

.success-message {
  color: green;
  font-size: medium;
  font-weight: 500;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}

.link {
  object-fit: cover;
  margin: 0 0.5rem;
  cursor: pointer;
  height: 25px;
}

.sub-but:hover {
  background-color: #07dc80;
  cursor: pointer;
}

.contact-image {
  width: 30%;
  padding: 1rem;
}

.contact-image img {
  height: 350px;
  width: 23vw;
  border-radius: 10px;
  margin-left: -150px;
  margin-top: -100px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }

  .links {
    justify-content: center;
    width: 100%;
  }

  .contact-image {
    display: none;
  }
}

@media (max-width: 480px) {
  .contact-form {
    align-items: center;
  }

  .name,
  .email,
  .message {
    width: 100%;
    max-width: none;
  }
}

.home-footer {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: medium;
  font-weight: 550;
}

.home-footer span {
  margin-left: 0.3rem;
  color: #00F78D;
}

/* login  */
/* src/components/LoginPopup.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-popup-inner {
 
  background: white;
  padding: 0.5rem;
  border-radius:3rem;
  position: relative;
  width: 65vw;
  height: 75vh;
  z-index: 11;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  

  margin: 0 auto;
}
.register-details-1
  {
    margin-top: 50px;
  }

.pop-imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;


}

.close-btn {
  background: rgb(136, 135, 135);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 17px;
  font-weight: 600;
}

.arrow {
  width: 30px;
  padding: 0 5px;
}

.web-logo {
  width: 120px;
  margin-left: 1rem;
}

.loginBg {
  width: 100%;
  height: 85%;
}

.login-con {
  display: flex;
  top: 0;
  transition: all 0.3s ease;
  margin-top: -65px;
  
}


.login-but {

  margin: 5px auto;
  padding: 10px 70px;
  border-radius: 20px;
  border: none;
  background-color: #264854;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;


}
.log-login-but {

  margin: 5px auto;
  padding: 10px 70px;
  border-radius: 20px;
  border: none;
  background-color: #264854;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;


}

.log-but {

  margin: 0 auto;
  padding: 10px 70px;
  border-radius: 20px;
  border: solid 2px #000000;
  background-color: #3a3939;
  color: white;


}
.genderLabel
{
  color:  #7c7a7a;
  margin-left: 20px;
  
}

.form-control {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 45%;
  margin-left: 10px;
  
}


.log-title {


  font-weight: 650;

  padding: 10px 0;
  text-transform: uppercase;
  font-size: 25px;
  color: #868080;
  text-align: center;
  margin-bottom: 20px;
 


}

.forgot {
  color: rgb(24, 89, 174);
  font-size: smaller;
  font-weight: bold;
  cursor: pointer;

}

.Rightside {
  display: flex;
  flex-direction: column;
  width: 50vw;
   
  /* align-items: center; */
  
 
  



}
.log-form{
  margin: 20px auto;
  
  align-items: center;
  text-align: center;
}
.log-form-control {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 70%;
  margin-bottom: 20px;
  
  height: 3rem;
 
  
}

.leftside {
  width: 50vw;
  
 
}

@keyframes slideInFade {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.log-form {
  animation: slideInFade 0.6s ease-in-out;
}


@keyframes gradientGlow {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.7); /* Reduced shadow */
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 1)); /* White to light grey */
  }
  50% {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 7px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.9); /* Slightly brighter shadow */
    background: linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(150, 150, 150, 1)); /* Bright white to darker grey */
  }
  100% {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.5); /* Back to reduced shadow */
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 1)); /* White to light grey */
  }
}

.Home-popup-inner {
  animation: gradientGlow 2s infinite alternate;
}





/* Responsive styles */
@media (max-width: 768px) {
  
  .login-con {
    flex-direction: column;
  }
  .leftside
  {
    display: none;
  }

  
  .Rightside
  {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin: 0 auto;
  }


  .log-title {
    font-size: 24px;
  }

  .log-login-but,
  .log-but {
    padding: 10px 50px;
  }

  .log-form-control {
    padding: 8px;
    width: 100%;
  }
  .right-signup .login-text{
    text-align: left;
    margin-bottom: 80px;
  }
  .right-signup .log-but{
    margin-right: 30px;
    margin-bottom: -120px;
    padding: 10px 20px;  /* Reduced padding */
    font-size: 12px;    /* Reduced font size */
    border-radius: 15px; /* Slightly adjust border radius if needed */
  }
  .col .login-but{
    margin-left: 350px;
    padding: 10px 20px;  /* Reduced padding */
    font-size: 12px;    /* Reduced font size */
    border-radius: 15px; /* Slightly adjust border radius if needed */
    margin-bottom: -100px;
  }
}

@media (max-width: 480px) {
  .popup-inner {
    padding: 1rem;
  }

  .close-btn {
    padding: 0.2rem 0.5rem;
    font-size: 0;
  }

  .web-logo {
    width: 100px;
  }

  .arrow {
    width: 20px;
  }

  .log-title {
    font-size: 20px;
  }
  .forgot
  {
    font-size: small;
  }
  

  

  
  .log-but {

    padding: 5px 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
  }


}
.signup-con
{
  display: flex;
  justify-content: space-between;
  margin-top: -80px;
}
.letf-signup
{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.col
{
  display: flex;
  gap: 10px;
  /* margin-bottom: 10px; */
  align-items: center;
  flex-wrap: wrap;
  margin:0;
 
}
.signupBg
{
  width: 70%;
  margin: 0 auto;
}
.right-signup
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.login-but
{
  margin: 0 auto;
}
.signup-error
{
  color: red;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
@media (max-width: 1114px) {
  .signup-con{
   display: flex;
   flex-direction: column;
  }
  .signupBg
  {
    display: none;
  }
  .right-signup
  {
    display: flex;
    flex-direction: row;
  }
  .login-text
  {
    font-size: small;
    margin-top: -110px;
  }
  .log-but{
    margin-top: -120px;
    
  }
  .register-details-1{
    margin-top: 15px;
   
  }
  .right-signup .login-text{
    text-align: left;
  }
  .right-signup .log-but{
    margin-left: 150px;
    margin-top: -90px;
    padding: 10px 20px;  /* Reduced padding */
    font-size: 12px;    /* Reduced font size */
    border-radius: 15px; /* Slightly adjust border radius if needed */
  }
  .col .login-but{
    margin-left: 350px;
    padding: 10px 20px;  /* Reduced padding */
    font-size: 12px;    /* Reduced font size */
    border-radius: 15px; /* Slightly adjust border radius if needed */
  }
 
}
@media (max-width: 740px) {
 
  .right-signup
  {
    display: flex;
    flex-direction: column;
  }
  .login-text
  {
    font-size: small;
  }

  .form-control {
    margin-bottom: 1px;
  }
  

}
@media (max-width: 540px) {
 
 .col
 {
  margin-bottom: 1px;
 }
 .form-control
 {
  width: 40%;
 }
 .form-control ::placeholder
 {
  font-size: small;
 }
  .form-control {
  margin-bottom: 10px;
}
.login-but
{
  width: 50%;
  padding: 10px;
  margin-top: 10px;
}
.right-signup
{
  margin-top: 15px;
  
}
.log-but
{
  width: 50%;
  padding: 10px;
  margin-top: 10px;

}



}
@media (max-width: 485px) 
{
  .form-control
  {
    width: 40%;
   
  }
  .col
  {
    margin: 0 auto;
  }
  .login-but
  {
    width: 30%;
    font-size: small;
   
   
  }
  .col label
  {
    font-size: small;
  }

}

















/* services */
#services {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.services-title {
  font-size: 2rem;
  margin: 10px auto 20px auto;
  font-weight: 800;
  /* background-color: #00F78D; */
  color: #043054;
  padding: 10px;
  border-radius: 10px;
  max-width: 30%; /* Adjust the width to be smaller on large screens */
}

.services-para {
  display: block;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: rgb(54, 50, 50);
}

.services-bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
}

.services-bar {
  flex: 1 1 calc(33.333% - 20px); /* Adjust the width to fit three cards per row, accounting for margins */
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-bar:hover {
  transform: translateY(-10px);
}

.services-img {
  width: 100%;
  height: auto;
}

.services-bar-text {
  padding: 15px;
  text-align: center;
}

.services-bar-text h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.services-bar-text p {
  font-size: 1em;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .services-bar {
    flex: 1 1 calc(50% - 20px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 480px) {
  .services-bar {
    flex: 1 1 100%; /* One card per row on small screens */
    margin: 10px 0; /* Adjust margins for better spacing */
  }
  
  .services-title {
    max-width: 90%; /* Ensure the title is smaller on small screens */
  }
}



/* .services-con-img
 {
  width: 30px;
 }
 #services
 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 75rem;  
  margin: 20px auto;

 }
 .services-con
 {
  background-color: #ebeff4;
border-radius: 10px;
padding: 20px;
display: flex;
flex-direction: column;

justify-content: center;

 }
 .services-con-img
 {

 } */