body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #333;
}

.read-container {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  margin-left: 25vh;
}

.readmore-container {
  max-width: 1200px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.readmore-container-row2 {
  text-align: center;
  padding: 2rem;
  background-color: #fbfbfb;
}

.readmore-features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.readmore-feature {
  width: 30%;
}

.readmore-feature h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.readmore-feature p {
  font-size: 1rem;
  color: #6c757d;
}

.readmore-statistics {
  display: flex;
  justify-content: space-around;
  background-color: #6c757d;
  padding: 1.5rem 0;
}

.readmore-stat {
  width: 30%;
}

.readmore-stat h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #0a3354;
}

.readmore-stat p {
  font-size: 1rem;
  color: #ffffff;
}

.readmore-header {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 24px;
}

.readmore-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.readmore-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readmore-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.readmore-main-details, .readmore-secondary-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.readmore-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.readmore-label {
  font-weight: bold;
  color: #555;
}

.readmore-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.readmore-request-button, .readmore-back-button {
  padding: 12px 24px;
  background-color: #343a40;
  color: #dde6ed;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.readmore-back-button:hover, .readmore-request-button:hover {
  background-color: #6e747a;
}

.readmore-bg-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readmore-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 15px;
  overflow: hidden;
}

.readmore-popup-inner {
  padding: 25px;
}

.readmore-popup h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.readmore-popup label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.readmore-popup input[type="number"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.readmore-button-container {
  display: flex;
  justify-content: space-between;
}

.readmore-action-button {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #343a40;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.readmore-action-button:hover {
  background-color: #6e747a;
}

.readmore-photos-container {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 1180px;
  width: 100%;
}

.readmore-photos-container h3 {
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.readmore-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.readmore-photos img {
  max-width: calc(25% - 10px);
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.readmore-photos img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.error-message {
  text-align: center;
  color: red;
  font-weight: 600;
  margin-top: 10px;
}

.video-instructions-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  max-width: 1180px;
}

.readmore-video-container {
  flex: 1;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.readmore-video-container h3 {
  margin: 0 0 15px;
  font-size: 1.5rem;
  color: #2c3e50;
}

.readmore-video-container iframe {
  width: 100%;
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
}

.readmore-instructions {
  flex: 1;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
}

.readmore-instructions h3 {
  margin: 0 0 15px;
  font-size: 1.5rem;
  color: #2c3e50;
}

.readmore-instructions p {
  margin: 0 0 15px;
  font-size: 1rem;
}

.readmore-instructions ul {
  padding-left: 20px;
  list-style-type: disc;
}

.readmore-instructions li {
  margin-bottom: 10px;
}

/* Responsive design */
/* 
@media (max-width: 1200px) {
  .read-container {
    width: 90vw;
    margin-left: 15vh;
  }

  .readmore-container {
    margin: 1rem;
    padding: 20px;
    width: 90vw;
  }

  .readmore-photos-container {
    max-width: 1000px;
  }
} */

@media (max-width: 960px) {
  .read-container {
    width: 90vw;
    margin-left: 20vh;
  }

  .readmore-container {
    margin: 1rem;
    padding: 20px;
    max-width: 75vw;
  }

  .readmore-photos-container {
    max-width: 700px;
  }

  .readmore-video-container iframe {
    height: 200px;
  }
  .readmore-container-row2{
    max-width: 700px;
  }
  .video-instructions-container{
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .read-container {
    width: 95vw;
    margin-left: 5vh;

  }

  .readmore-container {
    margin: 1rem;
    padding: 20px;
    width: 100%;
    max-width: 600px;
  }

  .readmore-content {
    flex-direction: column;
  }

  .readmore-btn-container {
    flex-direction: column;
    gap: 10px;
  }

  .readmore-back-button,
  .readmore-request-button {
    width: 100%;
  }

  .readmore-photos-container {
    /* max-width: 550px; */
    width: 100%;
  }

  .readmore-photos img {
    max-width: calc(50% - 10px);
  }

  .video-instructions-container {
    flex-direction: column;
    /* max-width: 550px; */
    width: 100%;
  }

  .readmore-video-container,
  .readmore-instructions {
    width: 100%;
  }

  .readmore-statistics {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .readmore-stat {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 485px) {
  .read-container {
    width: 80vw;
    margin-left: 20vw;
    padding: 10px;
  }

  .readmore-container {
    margin: 0.5rem;
    padding: 10px;
    width: 65vw;
    margin-left: 0vw;
  }

  .readmore-photos-container {
    max-width: 300px;
  }

  .readmore-photos img {
    max-width: 100%;
  }

  .video-instructions-container {
    max-width: 300px;
  }

  .readmore-container-row2 {
    padding: 1rem;
    width: 60vw;
  }

  .readmore-statistics {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .readmore-stat {
    width: 100%;
    text-align: center;
  }
}


.readmore-button-container {
  display: flex;
  justify-content: space-between;
}

.popup-message {
  margin-bottom: 20px; 
}
