.menu {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  height: 100%;
  background-color:#2c3e50;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 25vh;
  transition: width 0.3s ease;
  overflow: hidden;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  margin-top: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.logo-img {
  width: 100px;
  height: auto;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
  color: #fbfbfb;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

.mobmenu-icon {
  font-size: 2rem;
  color: #fbfbfb;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
}

.menu-list .item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: #fbfbfb;
}

.menu-list .item:hover {
  background: #27374d;
  color: #dde6ed;
}

.menu-icons {
  display: none;
  flex-direction: column;
  gap: 25px;
  padding: 10px 0;
  margin-top: 50px;
}

.menu-icons .item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  padding: 12px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  color: #fbfbfb;
  margin-top: 10px;
}

.menu-icons .item:hover {
  background: #27374d;
  color: #dde6ed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: auto;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.profile-img {
  width: 60px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-heading {
  color: white;
}

@media (max-width: 768px) {
  .menu {
    width: 10vh;
    transition: width 0.3s ease;
  }

  .menu.open {
    width: 25vh;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .menu-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    margin-top: 50px;
  }

  .menu-icons .item {
    font-size: 1.7rem;
    padding: 12px;
  }

  .menu-list .item {
    font-size: 0.9rem;
    gap: 10px;
  }

  .profile-img {
    width: 60px;
    height: 70px;
  }

  .menu.open .logo,
  .menu.open .profile {
    opacity: 1;
  }

  .logo,
  .profile {
    opacity: 0;
    pointer-events: none;
  }

  .menu-list {
    display: none;
  }

  .menu.open .menu-list {
    display: flex;
  }

  .menu.open .menu-icons {
    display: none;
  }

  .menu.open .logo {
    margin-top: 10px;
  }

  .menu-icons .item:last-child {
    display: block;
  }

  .menu.open .menu-icons .item:last-child {
    display: none;
  }
}

@media (max-width: 480px) {
  .menu {
    width: 12vh;
    transition: width 0.3s ease;
  }

  .menu.open {
    width: 25vh;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .menu-icons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0;
    margin-top: 50px;
  }

  .menu-icons .item {
    font-size: 1.7rem;
    padding: 12px;
  }

  .menu-list .item {
    font-size: 0.9rem;
    gap: 10px;
  }

  .profile-img {
    width: 60px;
    height: 70px;
  }

  .menu.open .logo,
  .menu.open .profile {
    opacity: 1;
  }

  .logo,
  .profile {
    opacity: 0;
    pointer-events: none;
  }

  .menu-list {
    display: none;
  }

  .menu.open .menu-list {
    display: flex;
  }

  .menu.open .menu-icons {
    display: none;
  }

  .menu.open .logo {
    margin-top: 10px;
  }

  .menu-icons .item:last-child {
    display: block;
  }

  .menu.open .menu-icons .item:last-child {
    display: none;
  }
}