
/* sidebar */
.side-line {
    width: 100%;
    border: 0;
    height: 10px; 
   
    margin: 20px 0;
   
  }

.sidebar {
    height: 100vh;
    width: 20vw;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background:#2C3E50;
  }
  .side-logo
  {
    width: 120px;
    object-fit: cover;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar li {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 25px;
    text-align: center;
    color: rgb(255, 253, 253);
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    justify-content: center;
   
    height: 50px;
    
  }
  .side-menu-img
  {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    object-fit: cover;
  }
  .side-menu-name
  {
    font-size:medium;
    font-weight: 550;
  }
  
  .sidebar li:hover {
  
    
   color:  #00f78d;
  }
  .side-button
  {
    padding: 5px 15px;
    background-color: #00f78d;
    border: none;
    border-radius: 10px;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: rgb(39, 87, 146);
    cursor: pointer;
  }
  .side-button:hover
  {
    background-color:#04de80;
    font-size: 19px;
    color: white;

  }
  .logout-img
  {
    width: 30px;
    margin-right: 10px;
    object-fit: cover;
  }
  @media (max-width: 900px) 
  {
    .side-menu-name
    {
        font-size: small;

    }
    .side-menu-img
  {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: cover;
  }
  
  }
  @media (max-width: 720px) 
  {
    .side-menu-name
    {
       display: none;

    }
    .side-menu-img
  {
    width: 40px;
    height: 40px;
    object-fit: cover;
   
  }
  
  }
  @media (max-width: 620px) 
  {
    .side-logo
    {
      width: 70px;
      object-fit: cover;
    }
    .side-menu-img
    {
      width: 30px;
      height: 30px;
      object-fit: cover;
     
    }
    
  
  }



  /* Viewusers */
  .search-users
  {
    border: none;
    width: 50vw;
    margin: 30px auto;
    height: 2.6rem;
    padding: 10px 20px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  
  .users-img
   {
       width: 100px;
       margin-right: 1rem;  
       object-fit: cover;
       border-radius: 100%;
       background-color: #737c78;
       padding: 5px;
   }
  .users-bars
   {
   margin: 1.5rem;
   width: 100vw;
   max-width: 80%;
   text-align: left;
    
   }
   .users-bar 
   {
   display: flex;
   margin: 1rem;
   padding: 1.2rem 1.5rem;
   border-radius: 0.5rem;
   background: rgb(216, 216, 216);
   
   
   }
   .users-bar-text p
   {
       font-size: medium;
       margin-bottom: 5px;
   
   }
   .users-bar-text h2
   {
   font-size: 1.3rem;
   font-weight: 580;
   color:rgb(27, 46, 70);
   margin-bottom: 5px;
   }
   .user-button
   {
    padding: 6px 20px;
    background: #9da2a0; 
    font-weight: 600;  
    color: white;
    border-radius: 1rem;
    cursor: pointer;

    
   }
   
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 0.5rem;
    width: 50%;
    max-width: 500px;
    margin-top: 0 auto;
  }
  .modal-content-delete
  {
    
      background: white;
      padding: 20px;
      border-radius: 0.5rem;
      width: 50%;
      height: 200px;
     display: flex;
     flex-direction: column;
      margin-top: 0 auto;
      gap: 20px;
    }
    .modal-content-delete-button
    {
      display: flex;

    }


  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color:rgb(54, 95, 146);
  }
  
  .modal-header h2 {
    margin: 0;
    margin-bottom: 10px;
  }
  .modal-content p
  {
    margin-bottom: 10px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .delete-button
  {
    padding: 5px 10px;
    color: white;
    border: none;
    background-color: red;
    margin-top: 20px;
    border-radius: 1rem;
  }
  .delete-button {
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: red;
    margin-top: 20px;
    border-radius: 1rem;
    font-size: 16px;
    font-weight: 600;
  }
  .delete-button:hover
  {
    background: linear-gradient(rgb(180, 20, 20),rgb(183, 35, 35));
  }
  .confirm-delete-button {
    padding: 6px 20px;
    background: #eb0b0b;
    font-weight: 600;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 10px;
    border: none;
  }
  
  
  
  .user-button {
    padding: 6px 20px;
    background: #9da2a0;
    font-weight: 600;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 10px;
    border: none;
  }
  /* viewRide */
  .search-con {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 60vw;
    margin: 0 auto;
  }
  
  .viewRide-bar {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    border-radius: 1rem;
    flex-direction: column;
    max-width: 60rem;
    margin: 30px auto;
  }
  
  .viewRide-bar:hover {
    border: 2px solid #04de80;
  }
  
  .viewRide-bar-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .viewRide-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .timeplace {
    font-size: 17px;
    font-weight: 600;
    color: #11273c;
  }
  
  .viewRide-price {
    font-size: 20px;
    font-weight: 650;
    color: #11273c;
  }
  
  .viewRide-bar-down {
    display: flex;
    gap: 30px;
    padding: 10px;
    align-items: center;
  }
  
  .user-details-vr,
  .car-details-vr {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
  }
  
  .vr-carnumber,
  .vr-username {
    font-size: 16px;
    font-weight: 600;
  }
  
  .vr-userimg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    background-color: #737c78;
    padding: 5px;
  }
  
  .vr-line {
    font-size: 20px;
    font-weight: 700;
  }
  
  .vr-time {
    font-size: 14px;
    margin-left: 20px;
    font-weight: 600;
  }
  
 
  
  /* Responsiveness */
  @media (max-width: 1050px) {
    .vr-button{
      margin-left: 10px;
    }
  }
  @media (max-width: 830px) {
    
    .search-con {
      flex-direction: column;
      align-items: center;
      max-width: 90vw;
    }
    .search-users
    {
      margin: 0px;
      margin-top: 15px;
    }
  
    .viewRide-bar {
      margin: 20px auto;
      max-width: 90vw;
    }
  
    .viewRide-bar-up {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .viewRide-bar-down {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .vr-button {
      margin-left: 0;
      align-self: center;
    }
  }
  /* interface */
  .dashboard-container
  {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .dashboard-left-con
  {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
  }
  .dashboard-left-up, .dashboard-left-down
  {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  .dashboard-left-count
  {
    display: flex;
    padding: 10px;
    background-color: #9ba09d;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dashboard-left-count div
  {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .count-img
  {
    width: 60px;
  }

  
  
  .admin-user
  {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 25vw;
   border-top-left-radius:1rem ;
   border-top-right-radius:1rem ;
   

  }
  .admin-user-tittle
  {
    color:rgb(54, 95, 146);
  }
  .dashboard-count-imgs
  {
    width: 60px;
    height: 60px;
  }
  .admin-user-img
  {
    width: 120px;
    padding: 10px;
    border-radius: 100%;
    background-color: #737c78;
    margin-top: 10px;
  }
  .admin-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .admin-info-label {
    font-weight: bold;
  }
  
  .admin-info-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
.admin-info-button {
    padding: 10px;
    background: #04de80;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .admin-info-button:hover {
    background: #03c471;
  }
 
  .admin-user-info
  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2.6rem;
  }
  .admin-user-edit-but
  {
    padding: 10px 40px;
    background-color: #737c78;
   color: white;
    margin: 10px auto;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }
  .admin-chart
  {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 50px 20px;
  }
  